@import "variables";

.container{
  width: 1200px;
  margin: 0 auto;

  transition: 0.2s;

  @media screen and (max-width: $desktop-small){
    width: 980px;

  }
  @media screen and (max-width: 980px){
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }
}
